
<!--
<div class="tetris-container">
  <div class="tetris-board">
    <div *ngFor="let row of board">
      <div *ngFor="let cell of row" class="tetris-cell"  [ngClass]="{'cellPieza': cell.filled==true}">
      </div>
    </div>
  </div>
</div>
-->

<button (click)="pauseInterval()">Pausar Intervalo</button>
<button (click)="resumeInterval()">Reanudar Intervalo</button>



<div class="tetris-container">
  <div class="board">
    <div *ngFor="let row of board; let rowIndex = index" class="row">
      <div *ngFor="let cell of row; let colIndex = index" class="cell"
        [ngClass]="{'filled': cell !== 0 || ispiezaActual(rowIndex, colIndex)}">
      </div>
    </div>
    
  </div>



</div>
<div *ngIf="pantallaMobil()" (keydown)="handleKeydown($event)" tabindex="0" #tecladoVirtual>
 




<div class="container">
  <button id="up" class="arrow up" (click)="eventosSimulaTeclas('ar')">▲</button>
  <div class="horizontals">
    <button id="left" class="arrow left" (click)="eventosSimulaTeclas('iz')">◄</button>
    <button id="right" class="arrow right" (click)="eventosSimulaTeclas('de')" >►</button>
  </div>
  <button id="down" class="arrow down" (click)="eventosSimulaTeclas('ab')">▼</button>
</div>
</div>





