
<!--
<div class="tetris-container">
  <div class="tetris-board">
    <div *ngFor="let row of board">
      <div *ngFor="let cell of row" class="tetris-cell"  [ngClass]="{'cellPieza': cell.filled==true}">
      </div>
    </div>
  </div>
</div>
-->



<div class="tetris-container">
  <div class="board">
    <div *ngFor="let row of board; let rowIndex = index" class="row">
      <div *ngFor="let cell of row; let colIndex = index" class="cell"
        [ngClass]="{
          'filled': cell !== 0 || isCurrentPiece(rowIndex, colIndex)
        }">
      </div>
    </div>
  </div>
</div>


